.blur-background {
    animation: blur 200ms ease-in-out 1 normal forwards;
    pointer-events: none;
}

@keyframes blur {
    0% {
        -webkit-filter: blur(0);
        -moz-filter: blur(0);
        -o-filter: blur(0);
        -ms-filter: blur(0);
        filter: blur(0);
    }
    100% {
        -webkit-filter: blur(3px);
        -moz-filter: blur(3px);
        -o-filter: blur(3px);
        -ms-filter: blur(3px);
        filter: blur(3px);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;

    animation-fill-mode: forwards;
  }

  @keyframes dropDown {
    from {
      opacity: 0;
      transform: scaleY(0);
      }
  
    to {
      opacity: 1;
      transform: scaleY(1);
    }
  }
  
  .dropDown {
    animation-name: dropDown;
    animation-duration:  300ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: normal;
    transform-origin: top;

  }

  .dropDownReverse {
    animation-name: dropDown;
    animation-duration:  300ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction:reverse;
    transform-origin: top;
    animation-fill-mode: forwards;
   }